:root{
    --cor-profissionais: rgb(145, 105, 255);
    --cor-academicas: rgb(146, 27, 62);
}

*{
    font-family: 'Lato', sans-serif;
}

.collapsible-list{
    margin:0px !important;
    
}

.collapsible-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 10px;
}

.collapsible-body{
    background-color: #EEE;
    padding: 20px;
}

.collapsible-header-icone{
    background-color: var(--cor-profissionais);
    border-radius: 3px;
    width: 35px;
    height: 35px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collapsible-header-titulo{
    margin-left: 10px;
    background-color: rgba(149, 149, 149, 0.2);
    border-radius: 20px;
    padding: 2px 20px;
    font-size: 14px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}

.collapsible-header-pontos{
    margin-left: 20px;
    background-color: rgb(145, 105, 255);
    color: white;
    border-radius: 20px;
    padding: 2px 15px;
    font-size: 14px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}


.collapsible-header i{
    margin-right:0px;
    font-size: 18px;
}

.collapsible-header div:last-child {
    margin-left: auto;
}

.collapsible-body-item{
    margin-bottom: 12px;
    border: solid 1px #DDD;
    border-radius: 2px;
    padding: 10px;
    background-color: white;
}

.collapsible-body-info{
    font-size: 12px;
    color: #AAA;
    margin-bottom: 20px;
}

.collapsible-item{
    width: 100%;
}

.collapsible-item-titulo{
    margin-right: 5px;
    margin-bottom: 5px;
    font-family: "Helvetica Neue",sans-serif;
    width: 100%;
}

.collapsible-item-info{
    margin-top: 5px;
    font-size: 13px;
    color: #AAA;
}

.card{
    width: 300px;
    height: 300px;
    background: linear-gradient(to right, rgb(145, 105, 255), rgb(85, 23, 255));
    -webkit-box-shadow: 2px 3px 6px -2px rgba(0,0,0,0.59); 
    box-shadow: 2px 3px 6px -2px rgba(0,0,0,0.59);
    transition: all 0.2s;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
    position: relative;
}

.card-titulo{
    width: 100%;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
}

.card-desc{
    width: 100%;
    height: 250px;
    box-sizing: border-box;
    text-align: center;
    background: linear-gradient(to right, rgb(109, 78, 195), rgb(43, 11, 131));
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.card-desc::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.card-pontuacao{
   box-sizing: border-box;
   padding: 10px;
}

.card-pontuacao-item{
   background-color: rgb(145, 105, 255);
   color: white;
   border-radius: 10px;
   padding: 10px;
   margin-bottom: 8px;
   text-align: center;
   box-sizing: border-box;
}

.card-cadastro{
   box-sizing: border-box;
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 50px;
}

.card-cadastro button{
   box-sizing: border-box;
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 80%;
   background-color: rgb(99, 207, 99);
   color: rgb(23, 51, 35);
   text-align: center;
   border: none;
   cursor: pointer;
}

.card-titulo .card-mostrar-detalhes{
    position: absolute;
    right: 5px;
    top: 0px;
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card-detalhes{
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    transition: all 500ms;
}

.card-detalhes-fechar{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    cursor: pointer;
}






.class-modal{
    position: absolute; 
    top: 0px; 
    left: 0px; 
    z-index: 999999; 
    display: none; 
    align-items: center; 
    justify-content: center;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.7); 
}

.class-modal-dialog{
    background-color: #FFF !important;
    z-index: 9999999; 
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5),0 6px 20px 0 rgba(0,0,0,0.5);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.7s;
    animation-name: animatetop;
    animation-duration: 0.7s;
    width: 350px; 
    height: 90%;
}

.class-modal-titulo{
    height: 70px; width: 100%; display: flex; align-items: center; justify-content: space-around; border-bottom: solid 1px #EEE;
    
}

.class-modal-titulo h3{
    
    margin-left: -20px;
}

.class-modal-titulo div {
    margin-right: -30px;
}

.modal-itens{
    box-sizing: border-box;
    padding: 20px;
}
    
.modal-item-titulo{
    font-size: 18px;
    width: 100%;
    font-weight: bold;
    margin-bottom: 5px;
}

.modal-item-desc{
    font-size: 15px;
    width: 100%;
    margin-bottom: 10px;
}